.advantages {
  padding-top: 16px;

  .title {
    font-size: 32px;

    span {
      font-weight: bold;
    }
  }

  .description{
    margin-top: 24px;
    color: #7E7E7E;
    font-size: 20px;
  }
}
